@charset "UTF-8";

/*共通*/

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #2C7CFF
}

a:hover {
	color: #75A9FF
}

.error-message {
	color: red;
}

.btn {
	background-color: #2C7CFF;
	color: white;
	border: solid 1px #777;
	border-radius: 5px;
	padding: 10px;
}

.btn:hover {
	background-color: #75A9FF;
	color: white;
}

li {
	list-style: none;
}

.main-container {
	max-width: 80%;
	margin: 0 auto;
	text-align: center;
}

.form {
	display: flex;
	flex-direction: column;
}

.form input[type="text"],
.form input[type="password"],
.form button[type="submit"] {
	padding: 10px;
	margin-bottom: 20px;
}

.form textarea {
	resize: none;
	height: 200px;
	margin-bottom: 20px;
}

.form-container {
	max-width: 30%;
	margin: 50px auto;
	text-align: center;
}

.form-container h1 {
	font-size: 45px;
	margin-bottom: 20px;
}

.form-container p {
	margin: 15px 0;
}

/* ヘッダー用 */

.header-inner {
	max-width: 80%;
	margin: auto;
	padding: 0 20px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #777;
	justify-content: space-between;
}

.logo-container img {
	width: 100px;
	height: auto;
}

.gnav-list {
	display: flex;
}

.gnav-list li {
	margin-left: 30px;
}

/* トップページ用 */

.auth {
	margin-top: 100px;
}

/* ログイン画面用 */

.login-container {
	max-width: 20%;
	margin: 0 auto;
	text-align: center;
}

/* 掲示板トップ画面 */

.welcome-container {
	margin: 40px 0;
}

.post-create-btn {
	background-color: #2C7CFF;
	color: white;
	padding: 15px;
	border: solid 1px #777;
	border-radius: 4px;
}

.post-create-btn:hover {
	background-color: #75A9FF;
	color: white;
}

.post {
	max-width: 60%;
	margin: 30px auto;
	padding-bottom: 20px;
}

.post-info {
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.post-content-container {
	border: 1px solid #777;
	border-radius: 10px;
}

.owner-content {
	color: red;
}

.post-content {
	max-width: 90%;
	margin:0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
	border-bottom: 1px solid #777;
}

.post-edit {
	display: flex;
}

.delete-button {
	margin-left: 10px;
}

.post-text {
	max-width: 90%;
	margin: 0 auto;
	padding: 20px 0;
	text-align: left;
}

/* 新規投稿&投稿編集画面 */
.post-create-form {
	display: flex;
	flex-direction: column;
}

.post-create-form input[type="text"],
.post-create-form textarea,
.post-create-form button[type="submit"] {
	padding: 10px;
	margin-bottom: 20px;
}

/* ユーザーページ画面 */
.user-profile-container {
	max-width: 25%;
	border: solid 1px #777;
	border-radius: 6px;
	margin: 30px auto;
}

.user-profile-container div {
	padding: 15px 0;
}

.title-container {
	max-width: 85%;
	margin: 0 auto;
}

.mail-address-container,
.user-name-container,
.user-password-container {
	max-width: 85%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.edit-btn, .prev-container a{
	border-radius: 4px;
	padding: 5px;
}

.prev-container {
	padding: 20px 0;
	text-align: center;
}

@media (max-width: 768px) {
	/* 共通 */

	.main-container {
		max-width: 100%;
	}

	.main-container h1 {
		font-size: 25px;
	}

	ul {
		list-style: none;
	}

	.form-container {
		max-width: 100%;
		text-align: center;
	}

	.form-container h1 {
		margin-bottom: 20px;
	}
	
	/* ヘッダー部分 */
	.header-inner {
		max-width: 100%;
		padding: 0 20px;
	}
	
	.title-logo {
		margin-right: auto;
		font-size: 15px;
	}
	
	.gnav-list {
		display: flex;
	}

	.form-container {
		max-width: 80%;
	}

	/* 初期画面 */
	.auth {
		display: flex;
		flex-direction: column;
	}

	.auth a {
		border: solid 1px #777;
		border-radius: 5px;
		background-color: #2C7CFF;
		color: white;
		padding: 10px;
		margin-top: 15px;
	}

	/* 掲示板画面 */
	.post {
		max-width: 90%;
		margin: 0 auto;
	}

	/* マイページ画面 */
	.user-profile-container {
		max-width: 90%;
	}

}